body {
    background-color: white;
}

#selection{
    background-color: black;
    height: 500px;
    width: 750px;
    display: block;
    margin:auto;
    text-align: center;
    color: aliceblue;
    margin-top: 75px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#selection  div {
    height:65px;
    margin-top: 25px;
    background-color: black;
}

input{
    text-align: center;
}

#game{
    margin-top: 35px; 
}

#game div div{
    padding:50px;
}